<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <div class="topnav" id="myTopnav">
	  <ul class="nav navbar-nav">
		<!-- LINK MENUJU table, dan link menuju home#form -->
		<li><a href="{% url 'lab-4:index' %}#form"> Form </a></li>
		<li><a href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li> 
	  </ul>
	  </div>
	</div><!--/.nav-collapse -->
  </div>
</nav>

<style>
	/* Add a black background color to the top navigation */
	.topnav {
		background-color: #ffffff;
		overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}

	/* Add a color to the active/current link */
	.topnav a.active {
		background-color: #4CAF50;
		color: white;
	}
</style>