{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
	body, html {
		height: 100%;
	}

	/* The hero image */
	
	.center_screen {
		text-align: center;
		position: absolute;
		top: 108%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
	}
	
	.image{
	border-radius:50%;
	}
</style>

<div class="center_screen">
	<h1>Portofolio</h1>

	<div>
		{% load static %}
		<center><img class ="image" src="https://preview.ibb.co/mU2iR5/IMG_5017.jpg" width="200" height="200"></center>
	</div>

	<hr/>
	<section name="bio">
		<h2>Bio</h2>
		<p>
			{{content}}
		</p>    
	</section>
	<hr/>
	<section name="about_me">
		<h2>List</h2>
		<ul>
			{% for ii in about_me %}
			<li> {{ ii }} </li>
			{% endfor %}
		</ul>
	</section>
	<hr/>
	<section name="form">
		<h2>Send Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>
</div>
</style>

{% endblock %}
