{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
	
	body, html {
		height: 100%;
	}

	/* The hero image */
	.image {
		/* Set a specific height */
		height: 92%;

		/* Position and center the image to scale nicely on all screens */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	/* Place text in the middle of the image */
	.text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
	}
	
	img{
	border-radius:50%;
	}
	
</style>
<div class="center_screen">
	<div class="image">
		<div class="text">
			{% load static %}
			<center><img src="{% static "images/IMG_5017.jpeg" %}" width="200" height="200"></center>
			<h1 style="font-size:30px; font-family: Trebuchet MS">Hello, this is {{ name }}.</h1>
			<p>{{ content }}.</p>
		</div>
	</div>
</div>

{% endblock %}